<div class="container">
  <h3>Departamento</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs --><div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Crear</a></li>
          <li role="presentation" class=""><a href="#modificar" aria-controls="modificar" (click)="sacarDep()" role="tab" data-toggle="tab">Modificar</a></li>
          <li role="presentation"><a href="#eliminar" aria-controls="eliminar" role="tab" data-toggle="tab">Eliminar</a></li>
         
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
                <!--Para crear direcciones-->
          		<form role="form">
                <div class="form-group">
                  <label  class="subTitle" for="ejemplo_email_1">Nombre del Departamento</label>
                  <input type="text" [(ngModel)]="save_departamento.nombre_dep" name="nombre_dep" class="form-control" id="ejemplo_email_1"
                         placeholder="Introduce El nombre del empleado">
                </div>
                 
                     <div class="form-group">
                         <br>
                          <label class="subTitle" for="sel2">Seleccione la Direccion</label>
                          <select multiple class="form-control" id="sel2">
                            <option  *ngFor="let direc of Toda_direcciones"   (click) ="slect_direc(direc)">{{direc.nombre}}

                            </option>
                           </select>
                        </div>
              
               
                <button type="submit" (click)="registrar()" class="btn btn-warning">Enviar</button>
              </form>
          </div>
          <div role="tabpanel" class="tab-pane " id="modificar">
        	   <table class="table">
                <thead>
                  <tr>
                    <th class="subTitle centrar">Nombre de Departamento</th>
                    <th class="subTitle centrar">Direccion</th>
                    <th class="subTitle centrar">Modificar</th>
                     </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dep of array_departamento" class="table-primary">
                    <td class="subTitle centrar">{{dep.nombre_dep}}</td>
                    <td class="subTitle centrar">{{dep.nombre_direc.nombre}}</td>
                    <td class="subTitle centrar"><button type="button" class="btn btn-danger  glyphicon glyphicon-repeat" data-toggle="modal" data-target="#exampleModalLong" ></button></td>
                  </tr>
                
                  
                </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="eliminar">
              <table class="table">
                <thead>
                  <tr>
                    <th class="subTitle centrar">Nombre de Departamento</th>
                    <th class="subTitle centrar">Direccion</th>
                    <th class="subTitle centrar">Eliminar</th>
                     </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dep of array_departamento" class="table-primary">
                    <td class="subTitle centrar">{{dep.nombre_dep}}</td>
                    <td class="subTitle centrar">{{dep.nombre_direc.nombre}}</td>
                    <td class="subTitle centrar"><button type="button" class="btn btn-danger  glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalLong" (click)="deleteDep(dep)" ></button></td>
                  </tr>
                
                  
                </tbody>
            </table>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
