<div class="container">
  <h3>Empleado</h3>
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs --><div class="card">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Crear</a></li>
          <li role="presentation" class=""><a href="#modificar" aria-controls="modificar" role="tab" data-toggle="tab" (click)="sacarEmpleado()">Modificar</a></li>
          <li role="presentation"><a href="#eliminar" aria-controls="eliminar" role="tab" data-toggle="tab">Eliminar</a></li>
         
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
                <!--Para crear direcciones-->
          		 <form role="form">
                <div class="form-group">
                  <label class="subTitle" for="ejemplo_email_1">Nombre del empleado</label>
                  <input [(ngModel)]="empleado.nombre_empleado" name="nombre_empleado" type="text" class="form-control" id="ejemplo_email_1"
                         placeholder="Introduce El nombre del empleado">
                </div>
                <div class="form-group">
                  <label class="subTitle" for="ejemplo_email_1">Correo</label>
                  <input [(ngModel)]="empleado.correo" name="correo" type="email" class="form-control" id="ejemplo_email_1"
                         placeholder="Introduce correo electronico">
                </div>
                <div class="form-group">
                     <div class="form-group">
                         <br>
                          <label class="subTitle" for="sel2">Seleccione el Cargo</label>
                          <select multiple class="form-control" id="sel2">
                            <option (click)="cargo_selected(cargo)" *ngFor="let cargo of all_cargo">{{cargo.nombre_cargo}}</option>
                            
                          </select>
                        </div>
                </div>
               
                <button (click)="saveEmpleado()" type="submit" class="btn btn-warning">Enviar</button>
              </form>
          </div>
          <div role="tabpanel" class="tab-pane " id="modificar">
        	  <table class="table">
                <thead>
                  <tr>
                    <th class="subTitle centrar">Nombre del Empleado</th>
                    <th class="subTitle centrar">Correo</th>
                    <th class="subTitle centrar">Cargo</th>
                    <th class="subTitle centrar">Modificar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of Array_empleado" class="table-primary">
                    <td class="subTitle centrar">{{empleado.nombre_empleado}}</td>
                    <td class="subTitle centrar">{{empleado.correo}}</td>
                    <td class="subTitle centrar">{{empleado.nombre_cargo.nombre_cargo}}</td>

                    <td class="subTitle centrar"><button type="button" class="btn btn-danger  glyphicon glyphicon-repeat" data-toggle="modal" data-target="#exampleModalLong" ></button></td>
                  </tr>
                  
                </tbody>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="eliminar">
             <table class="table">
                <thead>
                  <tr>
                    <th class="subTitle centrar">Nombre del Empleado</th>
                    <th class="subTitle centrar">Correo</th>
                    <th class="subTitle centrar">Cargo</th>
                    <th class="subTitle centrar">Eliminar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empleado of Array_empleado" class="table-primary">
                    <td class="subTitle centrar">{{empleado.nombre_empleado}}</td>
                    <td class="subTitle centrar">{{empleado.correo}}</td>
                    <td class="subTitle centrar">{{empleado.nombre_cargo.nombre_cargo}}</td>
                    <td class="subTitle centrar"><button type="button" class="btn btn-danger  glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalLong" (click)="eliminarEmpleado(empleado)" ></button></td>
                  </tr>
                  
                </tbody>
            </table>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
